.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}
